# Default ignored files
/workspace.xml
uncertainty-paper-code.code-workspace
.idea/
.spyproject/
*.csv
*.h5
*.pyc
data/
.pylint.d/
__pycache__
.vscode

intermediate_work
intermediate_results
uncertainty_library.egg-info
scripts/CelebA/saved_models
img_align_celeba.zip
list_attr_celeba.txt
img_align_celeba
saved_models_backup
saved_models
models
comparisons_*
attr_binaries
performance_results
pics_discuss/