# Default ignored files
/workspace.xml
.idea/
.spyproject/
*.csv
*.h5
*.pyc
data/
.pylint.d/
__pycache__
.vscode

intermediate_work
uncertainty_library.egg-info
scripts/CelebA/saved_models
img_align_celeba.zip
list_attr_celeba.txt
img_align_celeba
saved_models_backup
saved_models
